<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mozart_Music_Player.Properties.Settings.kullanici_girisiConnectionString"
            connectionString="Data Source=DESKTOP-5ROLLFP\SQLEXPRESS;Initial Catalog=kullanici_girisi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>